* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
   
    height: 100vh;
    background: url(Welcome.jpg) no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    color: aqua;
    backdrop-filter: blur(55px);
}

.logo {
    font-size: 25px;
    margin-left: 10px;

}

.nav {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 50px;
    border-bottom: none;

}

.home {
    margin: 15px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(139, 227, 247);
}

.login {
    height: 40px;
    box-shadow: 0px 3px 15px rgb(1, 16, 27);
    width: 100px;
    color: rgb(1, 250, 250);
    background: rgba(2, 61, 107, 0.749);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    border-color: aqua;
    margin-right: 30px;
}
.login:hover {
    background-color: aqua;
    color: black;
    border-color: rgb(250, 248, 248);
}

footer .footer{
    color:aliceblue;
    position: absolute;
    bottom:150%;
    
}



/* ###########################Exception###################### */
/* 
*{
    margin: 0;
    padding: 0;

}

header{
    border: 2px solid red;
    display: inline-block;
    width: 100%;
} */